<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>save</title>
</head>
<body>
<form action="/board/save" method="post">
  근무지설정 <input type="text" name="boardPlace"> <br>
  공고제목 <input type="text" name="boardTitle"> <br>
  급여 <input type="text" name="boardMoney"> <br>
  주휴수당 지급 여부 <input type="text" name="boardHoilday"> <br>
  수습기간 여부 <input type="text" name="boardProbation"> <br>
  근무 요일 <input type="text" name="boardDay"> <br>
  근무 시간 <input type="text" name="boardTime"> <br>
  근무 기간 <input type="text" name="boardTerm"> <br>
  모집내용 <textarea name="boardContent" cols="30" rows="10"></textarea> <br>
  <input type="submit" value="작성 완료">
</form>
</body>
</html>